[buildout]
extensions = mr.developer
sources-dir = ${buildout:directory}/src

extends = 
    http://dist.plone.org/release/3.3.2/versions.cfg
    http://good-py.appspot.com/release/dexterity/1.0a2
versions = versions
find-links = 
    http://dist.plone.org/thirdparty

parts = 
    bootstrap
    zope2
    instance

develop = 
    .

[sources]

[bootstrap]
recipe = collective.recipe.bootstrap

[zope2]
recipe = plone.recipe.zope2install
url = ${versions:zope2-url}

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
eggs = 
    PILwoTk
    Plone
    collective.project
    plone.app.dexterity
    z3c.jbot

[versions]
zc.buildout = 1.4.1

