include *.GPL
include *.png
include *.py
include *.rst
include *.txt
include Makefile
include buildout.cfg
include heroku.cfg
recursive-include collective *.css
recursive-include collective *.pt
recursive-include collective *.xml
recursive-include collective *.zcml
